<div class="container">
  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
  <div class="row" style="background-color:lightcyan;">

    <div class="col-xs-2"></div>
    <div class="col-xs-1">

      <strong>Comment:</strong>
    </div>
    <div class="col-xs-4">
      <%= comment.body %>
    </div>
    <div class="col-xs-2">
      <strong>Commentor:</strong>
      <%= comment.user.email %>
    </div>
    <div class="col-xs-1">
      <% if current_user[:id]===comment[:user_id]%>

      <%= link_to 'Destroy Comment', [comment.post, comment],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>

    <div class="col-xs-2"></div>
  </div>
  <% end %>

</div>
